<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipment List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <style>
        .centered-content-main {
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 10vh;
        }

        .button-main {
            background-color: #0b3bde;
            border: none;
            color: white;
            padding: 10px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
            cursor: pointer;
        }

    </style>
</head>
<body>

<div style="display: flex; align-items: center; justify-content: center;">
    <div class="centered-content-main" style="margin-right: 10px;">
        <h2>Nəsimi rayonu üzrə avadanlıqların siyahısı</h2>
    </div>
    <button type="button" class="button-main" data-toggle="modal" data-target="#findModal" style="margin-right: 10px">
        Axtar
    </button>
    <button type="button" class="button-main" data-toggle="modal" data-target="#addModal">
        Əlavə et
    </button>

</div>


<div class="container">

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>id</th>
            <th>Küçə</th>
            <th>Bina</th>
            <th>Blok</th>
            <th>Mərtəbə</th>
            <th>Switch</th>
            <th>Switch Akm</th>
            <th>TV</th>
            <th>Watt</th>
            <th>Med</th>
            <th>Avt</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="equipment, index : ${equipmentList}">
            <td th:text="${index.index + 1}"></td>
            <td th:text="${equipment.street}"></td>
            <td th:text="${equipment.build}"></td>
            <td th:text="${equipment.block}"></td>
            <td th:text="${equipment.floor}"></td>
            <td th:text="${equipment.switchSimple}"></td>
            <td th:text="${equipment.switchAccum}"></td>
            <td th:text="${equipment.tv}"></td>
            <td th:text="${equipment.watt}"></td>
            <td th:text="${equipment.med}"></td>
            <td th:text="${equipment.fusebox}"></td>

        </tr>
        </tbody>
    </table>
</div>

<!-- Modal Find -->
<div class="modal fade" id="findModal" tabindex="-1" role="dialog" aria-labelledby="findModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="findModalLabel">Street and Build Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/equipment/find" method="get" th:action="@{/equipment/find}">
                    <div class="form-group">
                        <label for="street">Küçə:</label>
                        <input type="text" class="form-control" id="street" name="street">
                    </div>
                    <div class="form-group">
                        <label for="build">Bina:</label>
                        <input type="text" class="form-control" id="build" name="build">
                    </div>
                    <button type="submit" class="btn btn-primary">Axtar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal Add -->
<!--<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"-->
<!--     aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="addModalLabel">Yeni ünvan və avadanlıqlar əlavə et</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <form action="/equipment/add" method="post" th:action="@{/equipment/add}">-->
<!--                    <div class="form-group">-->
<!--                        <label for="street1">Küçə:</label>-->
<!--                        <input type="text" class="form-control" id="street1" name="street" th:value="${equipment.street}" placeholder="Azadliq">-->

<!--                        <label for="build1">Bina:</label>-->
<!--                        <input type="text" class="form-control" id="build1" name="build" th:value="${equipment.build}" placeholder="21a">-->

<!--                        <label for="block">Blok:</label>-->
<!--                        <input type="text" class="form-control" id="block" name="block" th:value="${equipment.block}" placeholder="3">-->

<!--                        <label for="floor">Mərtəbə:</label>-->
<!--                        <input type="text" class="form-control" id="floor" name="floor" th:value="${equipment.floor}" placeholder="2">-->

<!--                        <label for="switch">Switch:</label>-->
<!--                        <input type="text" class="form-control" id="switch" name="switch" th:value="${equipment.switch}" placeholder="2">-->

<!--                        <label for="switch_akum">Switch Akum:</label>-->
<!--                        <input type="text" class="form-control" id="switch_akum" name="switch_akum" th:value="${equipment.switch_akum}" placeholder="1">-->

<!--                        <label for="tv">Tv:</label>-->
<!--                        <input type="text" class="form-control" id="tv" name="tv" th:value="${equipment.tv}" placeholder="1">-->

<!--                        <label for="watt">Watt:</label>-->
<!--                        <input type="text" class="form-control" id="watt" name="watt" th:value="${equipment.watt}" placeholder="12.35">-->

<!--                        <br>-->

<!--                        <label for="med">Med:</label>-->
<!--                        <select id="med" name="med" class="form-control" th:value="${equipment.med ? 'true' : 'false'}">-->
<!--                            <option value="true"> Var </option>-->
<!--                            <option value="false"> Yox </option>-->
<!--                        </select>-->

<!--                        &nbsp;&nbsp;&nbsp;&nbsp;-->

<!--                        <label for="avtomat">Avtomat:</label>-->
<!--                        <select id="avtomat" name="avtomat" class="form-control" th:value="${equipment.automat ? 'true' : 'false'}">-->
<!--                            <option value="true"> Var </option>-->
<!--                            <option value="false"> Yox </option>-->
<!--                        </select>-->

<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-primary">Əlavə et</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
