<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipment List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Street</th>
        <th>Build</th>
        <th>Block</th>
        <th>Floor</th>
        <th>Switch Simple</th>
        <th>Switch Accum</th>
        <th>Med</th>
        <th>Fusebox</th>
        <th>Watt</th>
        <th>TV</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>169</td>
        <td>Asif MÉ™hÉ™rrÉ™mov</td>
        <td>62</td>
        <td>3</td>
        <td>1</td>
        <td>2</td>
        <td>0</td>
        <td>false</td>
        <td>false</td>
        <td>26.6</td>
        <td>1</td>
    </tr>
    <tr>
        <td>170</td>
        <td>Asif MÉ™hÉ™rrÉ™mov</td>
        <td>62</td>
        <td>6</td>
        <td>2</td>
        <td>1</td>
        <td>0</td>
        <td>false</td>
        <td>false</td>
        <td>10.8</td>
        <td>0</td>
    </tr>
    </tbody>
</table>

</body>
</html>
